<div class="jumbotron homepage">
  <h2>Legislative Information</h2>
  <p class="lead">What would you like more information about...?</p>
  <hr>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Legislators</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">House Bills</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Senate Bills</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Committees</button>
    </div>
  </div>
</div>
